{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="content_main">
    <div class="container">



        <div class="form_password_main">
            <div id="content" class="colM">
          
                <h3>Восстановление пароля завершено</h3>
                
                {% if user.is_authenticated %}
      
                <p>Вы вошли в систему</p>
                <p class=""><a href="/">Перейти на главную</a></p>
      
      
                {% else %}


<p>Ваш пароль был сохранен.  Теперь вы можете войти.</p>
      
<p class="lk_top_sign"><a>Войти</a></p>
                {% endif %}
                <br class="clear">
              </div>
        </div>





    </div>
</div>










{% endblock %}