{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="content_main">
    <div class="container">



            <div class="form_password_main">
                {% if user.is_authenticated %}

                <p>Вы вошли в систему</p>
                <p class=""><a href="/">Перейти на главную</a></p>

                {% else %}
                <form method="post">{% csrf_token %}
                    <fieldset class="module aligned">
                        <div class="form-row field-email">
                            {{ form.email.errors }}
                            <label for="id_email">Ваша почта для восстановления:</label>
                            {{ form.email }}
                        </div>
                        <input class="btn_main" type="submit" value=" Сбросить">
                    </fieldset>
                </form>
                {% endif %}
            </div>





    </div>
</div>










{% endblock %}