{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load thumbnail %}

{% include 'includes/profile_items_main_mobile.html' %}
<div class="content_main category_index profile_index">
  <div class="container">
    {% include 'includes/profile_items_main.html' %}

    <div class="hits_main">
      <div class="category_sort_main">
        <div class="title_index">
          <h2>{{ page_name }}</h2>
        </div>
      </div>
      {% if user.is_authenticated %}
      <div class="profile_main">


        <form class="form_group_form" method="post" action="{% url 'users:password_change' %}">
          {% csrf_token %}

          <div class="form_group_profile">
            {{ form.old_password }}
            {% if form.old_password.errors %}
            <div class="error">{{ form.old_password.errors }}</div>
            {% endif %}
          </div>

          <div class="form_group_profile">
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
            <div class="error">{{ form.new_password1.errors }}</div>
            {% endif %}
          </div>

          <div class="form_group_profile">
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
            <div class="error">{{ form.new_password2.errors }}</div>
            {% endif %}
          </div>

          <button class="btn_main" type="submit">
            <p>Изменить пароль</p>
          </button>
        </form>
      </div>



      {% else %}
      <div class="info_text_main">
        <p class="info_text">Пожалуйста, войдите в систему.</p>
        <p class="lk_top_sign info_text_link lk_top"> Войти</p>
      </div>
      {% endif %}

    </div>

  </div>
</div>

{% endblock %}